.catSlidersection{padding: 25px 0px;}
.container-fluid{width: 100%; padding: 0;}
.cat_slider_Main{border-radius: 50px; width: 100%;}
.cat_slider_Main .item{width: 100%;}
.cat_slider_Main img{width: 100%;height: auto;}